body {
    font-family: "Georgia", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.containerC {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.header {
    background: #f84747;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background: #444;
    padding: 10px;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #555;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background: #666;
}


h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
